/* VARIABLES GENERALES */
@font-face {
  font-family: "trajanusXI";
  src: url(../fonts/TrajanusBriX-Invers.ttf);
}
@font-face {
  font-family: "balgruf";
  src: url(../fonts/Balgruf-JRye7.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #353531;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
  color: #c0c0c0;
  padding: 40px 0;
  margin: 0;
  font-family: "balgruf";
  font-size: 4rem;
  text-decoration: underline;
  background-image: url(../img/estrellas1.jpg);
  background-attachment: fixed;
}

@media (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
}
.text-h2 {
  text-align: center;
  padding: 30px 0;
  background-image: url(../img/poligonos2.svg);
}

h2 {
  display: inline;
  color: #c0c0c0;
  font-size: 2rem;
  font-family: "balgruf";
  text-decoration: underline;
  border-left: ridge 3px;
  border-right: ridge 3px;
  padding: 0 20px 0 20px;
}

p {
  font-family: "EB Garamond", serif;
}

a {
  text-decoration: none;
  color: #c0c0c0;
}

/* FOOTER */
footer {
  background-color: #222222;
  padding-top: 60px;
}

.textoFooter {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.textoFooter p {
  color: #c0c0c0;
}

.go-up {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-items: end;
}
.go-up a {
  color: tomato;
  font-size: 1.3rem;
  text-decoration: underline;
}

/* BARRA DE NAVEGACION */
header {
  background-color: #222222;
}

.logo {
  width: 250px;
  padding: 20px;
}

.nav-link {
  font-family: "trajanusXI";
  color: #c0c0c0;
  border-left: ridge 3px #c0c0c0;
  padding-left: 10px;
  margin-right: 20px;
  letter-spacing: -1px;
  font-size: 1.1rem;
}

.navbar-toggler, .active {
  background-color: #c0c0c0;
}

/* CONTENIDO INDEX */
.fondoIndex {
  text-align: center;
}

.resumen {
  padding: 20px 30px;
  background-image: url(../img/estrellas2.jpg);
}
.resumen p {
  color: #c0c0c0;
  background-color: #222222;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 425px) {
  .resumen {
    padding: 30px 40px;
  }
  .resumen p {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  .resumen {
    padding: 30px 50px;
  }
  .resumen p {
    font-size: 1.6em;
  }
}
@media (min-width: 1024px) {
  .resumen {
    padding: 30px 60px;
  }
  .resumen p {
    font-size: 2em;
  }
}
#facciones {
  background-image: url(../img/poligonos2.svg);
  background-size: cover;
  padding-bottom: 30px;
  /* aplicado overflow porque generacion de scroll lateral */
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

@media (min-width: 1024px) {
  #facciones {
    padding-top: 30px;
  }
  .container {
    flex-direction: row;
  }
}
.col {
  transition: 0.5s linear;
}
.col:hover {
  transform: scale(1.1);
}

.card {
  transition: 0.5s linear;
  border: solid 1.5px #71486d;
}
.card:hover {
  box-shadow: 14px 14px 18px 8px rgba(0, 0, 0, 0.47);
  z-index: 1;
}

.card-body {
  background-color: #c0c0c0;
}

.text-h3 {
  margin: 30px;
  border-top: solid 3px #71486d;
  border-bottom: solid 3px #71486d;
}
.text-h3 h3 {
  margin-bottom: 0;
  font-family: "balgruf";
  font-size: 3rem;
  color: #c0c0c0;
  transition: all 0.3s;
}
.text-h3 h3:hover {
  color: #222222;
  background-color: #71486d;
  text-decoration: underline;
}

@media (min-width: 1440px) {
  .text-h3 {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .text-h3 h3 {
    font-size: 4.5rem;
  }
}
@media (min-width: 768px) {
  .text-h3 h3 {
    font-size: 4rem;
  }
}
/* CONTENIDO MAPA*/
.fondoSkyrim, .fondoDova {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-image: url(../img/poligonos.svg);
  background-size: cover;
}
.fondoSkyrim img, .fondoDova img {
  width: 100vw;
  height: 50vh;
}

@media (min-width: 768px) {
  .fondoSkyrim img, .fondoDova img {
    width: 90vw;
    height: 70vh;
  }
}
@media (min-width: 1024px) {
  .fondoSkyrim img, .fondoDova img {
    height: 90vh;
  }
}
.div-galeria {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-image: url(../img/poligonos2.svg);
  background-size: cover;
}

#galeria {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.foto1, .foto2, .foto3, .foto4 {
  width: 95vw;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1.5px #71486d;
}

.foto1 {
  background-image: url(../img/paisaje1.jpg);
}

.foto2 {
  background-image: url(../img/paisaje2.jpg);
}

.foto3 {
  background-image: url(../img/paisaje3.jpg);
}

.foto4 {
  background-image: url(../img/paisaje4.jpg);
}

@media (min-width: 768px) {
  #galeria {
    display: grid;
    grid-template-areas: "foto1 foto2" "foto3 foto4";
    gap: 5px;
  }
  .foto1, .foto2, .foto3, .foto4 {
    max-width: 100%;
    width: 45vw;
    height: 300px;
  }
  .foto1 {
    grid-area: foto1;
  }
  .foto2 {
    grid-area: foto2;
  }
  .foto3 {
    grid-area: foto3;
  }
  .foto4 {
    grid-area: foto4;
  }
}
@media (min-width: 1200px) {
  #galeria {
    display: grid;
    grid-template-areas: "foto1 foto1 foto1" "foto1 foto1 foto1" "foto2 foto3 foto4" "foto2 foto3 foto4";
    gap: 10px;
  }
  .foto1, .foto2, .foto3, .foto4 {
    max-width: 100%;
    height: 300px;
  }
  .foto1 {
    grid-area: foto1;
    width: 100%;
    height: 728px;
  }
  .foto2 {
    grid-area: foto2;
    width: 28vw;
    height: 50vh;
  }
  .foto3 {
    grid-area: foto3;
    width: 28vw;
    height: 50vh;
  }
  .foto4 {
    grid-area: foto4;
    width: 28vw;
    height: 50vh;
  }
}
/* CONTENIDO DOVAHKIIN */
.fondoDova {
  background-color: black;
}

@media (max-width: 425px) {
  .fondoDova img {
    height: 40vh;
  }
}
@media (min-width: 768px) {
  .fondoDova img {
    height: 50vh;
  }
}
@media (min-width: 1024px) {
  .fondoDova img {
    height: 70vh;
  }
}
@media (min-width: 1200px) {
  .fondoDova img {
    height: 90vh;
  }
}
/* MEDIA */
#carrusel {
  background-image: url(../img/gradiente.svg);
  background-size: cover;
}

.carousel {
  width: 95vw;
}

.videos-skyrim {
  background-image: url(../img/gradiente.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
.videos-skyrim .trailer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.videos-skyrim .trailer iframe {
  width: 95vw;
  height: 40vh;
  box-shadow: 14px 14px 18px 8px rgba(0, 0, 0, 0.47);
}
.videos-skyrim .gameplay {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.videos-skyrim .gameplay iframe {
  width: 95vw;
  height: 40vh;
  box-shadow: 14px 14px 18px 8px rgba(0, 0, 0, 0.47);
}

@media (min-width: 630px) {
  h2 {
    font-size: 3.5rem;
  }
  .carousel {
    width: 90vw;
  }
  .videos-skyrim .trailer iframe {
    width: 90vw;
    height: 50vh;
  }
  .videos-skyrim .gameplay iframe {
    width: 90vw;
    height: 50vh;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 4rem;
  }
  .videos-skyrim {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .videos-skyrim .trailer iframe {
    width: 55vw;
    height: 40vh;
  }
  .videos-skyrim .gameplay iframe {
    width: 40vw;
    height: 35vh;
  }
}
@media (min-width: 1200px) {
  .carousel {
    width: 75vw;
  }
  .videos-skyrim {
    gap: 70px;
  }
  .videos-skyrim .trailer iframe {
    width: 50vw;
    height: 60vh;
  }
  .videos-skyrim .gameplay iframe {
    width: 40vw;
    height: 45vh;
  }
}
/* FORMULARIO */
#form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  background-image: url(../img/layer.svg);
  gap: 10px;
  padding: 20px;
}

@media (min-width: 900px) {
  #form {
    background-size: cover;
  }
}
h4 {
  font-family: "balgruf";
  color: #c0c0c0;
  text-decoration: underline;
  font-size: 2rem;
}

#form div {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  color: #c0c0c0;
}

#body-404 {
  background-image: url(../img/estrellas1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.error {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error h1 {
  background-color: #222222;
  padding: 20px;
  background-image: none;
  font-size: 5rem;
  margin-bottom: 40px;
}
.error p {
  font-size: 2rem;
  background-color: #c0c0c0;
}
.error a {
  background-color: #222222;
  margin-top: 40px;
  padding: 8px 15px;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.error a:hover {
  background-color: #c0c0c0;
  color: #222222;
}

/*# sourceMappingURL=style.css.map */
