* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'trajanusXI';
    src: url(../fonts/TrajanusBriX-Invers.ttf);
}
@font-face {
    font-family: 'balgruf';
    src: url(../fonts/Balgruf-JRye7.ttf);
}

body {
    background-color: #353531;
}


h1 {
    text-align: center;
    color: #c0c0c0;
    padding: 40px 0;
    margin: 0;
    font-family: 'balgruf';
    font-size: 4rem;
    text-decoration: underline;
    background-image: url(../img/estrellas1.jpg);
    background-attachment: fixed;
}

@media (min-width: 992px) {
    h1 {
        font-size: 5em;
    }
}


.text-h2 {
    text-align: center;
    margin: 30px 0;
}
h2 {
    display: inline;
    color: #c0c0c0;
    font-size: 2rem;
    font-family: 'balgruf';
    text-decoration: underline;
    border-left: ridge 3px;
    border-right: ridge 3px ;
    padding: 0 20px 0 20px;
}
p {
    font-family: 'EB Garamond', serif;
}

a {
    text-decoration: none;
    color: #D7D3D0;
}

/* BARRA DE NAVEGACION */

header {
    background-color: #222222;
}

.logo {
    width: 250px;
    padding: 20px;
}

.nav-link {
    font-family: 'trajanusxi';
    color: #c0c0c0;
    border-left: ridge 3px #D7D3D0;
    padding-left: 10px;
    margin-right: 20px;
    letter-spacing: -1px;
    font-size: 1.1rem;
}

.navbar-toggler, .active {
    background-color: #c0c0c0;
}

/* CONTENIDO INDEX */

.fondoIndex {
    text-align: center;
}


.resumen {
    padding: 20px 30px;
    background-image: url(../img/estrellas2.jpg);
}

.resumen p {
    color: #c0c0c0;
    background-color: #222222;
    font-size: 1rem;
    text-align: center;
}

@media (min-width: 425px) {
    .resumen {
        padding: 30px 40px;
    }
    .resumen p {
        font-size: 1.3em;

    }
}

@media (min-width: 768px) {
    .resumen {
        padding: 30px 50px;
    }
    .resumen p {
        font-size: 1.6em;

    }
}


@media (min-width: 1024px) {
    .resumen {
        padding: 30px 60px;
    }
    .resumen p {
        font-size: 2em;
    }
}

.facciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 30px;
}

@media (min-width: 1024px) {
    .facciones {
        flex-direction: row;
        margin: 30px 30px;
    }
}

.card-body {
    background-color: #c0c0c0;
}

.facciones-text {
    margin-top: 30px;
    border-top: solid 3px #222222;
    border-bottom: solid 3px #222222;
}

@media (min-width: 1440px) {
    .facciones-text {
        margin-left: 50px;
        margin-right: 50px;
    }
}


.facciones-text h3 {
    font-family: 'balgruf';
    font-size: 2rem;
    color: #c0c0c0;
}

@media (min-width: 580px) {
    .facciones-text h3 {
        font-size: 3rem;
    }
}


/* CONTENIDO MAP */

.fondoSkyrim img {
    display: block;
}

/* SANGRE DE DRAGON */

.fondoDova img {
    display: block;
}


/* MEDIA */


.carousel {
    width: 50vh;
}


.vid-skyrim iframe {
    display: block;
    margin: 0 auto;
    width: 50vh;
    height: 40vh;
}

@media (min-width: 700px) {
    h2 {
        font-size: 3.5rem;
    }
    .carousel {
        width: 80vh;
    }
    .vid-skyrim iframe {
        width: 80vh;
        height: 60vh;
    }
}

@media (min-width: 1024px) {
    h2 {
        font-size: 4.2rem;
    }
    .carousel {
        width: 100vh;
    }
    .vid-skyrim iframe {
        width: 100vh;
        height: 80vh;
    }
}

@media (min-width: 1440px) {
    h2 {
        font-size: 4rem;
    }
    .carousel {
        width: 130vh;
    }
    .vid-skyrim iframe {
        width: 130vh;
    }
}

/* FORMULARIO */

#form {
    background-color: #000000;
    padding: 20px;
}

legend {
    font-family: 'balgruf';
    color: #D7D3D0;
    font-size: 2rem;
}

#form div {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    color: #D7D3D0;
}

/* FOOTER */


footer {
    background-color: #222222;
    padding-top: 100px;
    position: relative;
}

.textoFooter {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10%;
}

.go-up {
    position: absolute;
    right: 10px;
    top: 50%;
}

.text-up {
    color: aquamarine;
    font-size: 1.3rem;
    text-decoration: underline;
}