/* CONTENIDO MAPA*/
.fondoSkyrim {
    @include flex-column-center;
    background-color: $bg-body;
    img {
        width: 100vw;
        height: 50vh;
    }
}
@media (min-width: 768px) {
    .fondoSkyrim img {
        width: 90vw;
        height: 70vh;
    }
}
@media (min-width: 1024px) {
    .fondoSkyrim img {
        height: 90vh;
    }
}
.div-galeria {
    @include flex-column-center;
}
#galeria {
    @include flex-column-center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}
.foto1, .foto2, .foto3, .foto4 {
    width: 100vw;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.foto1 {
    background-image: url(../img/paisaje1.jpg);
}
.foto2 {
    background-image: url(../img/paisaje2.jpg);
}
.foto3 {
    background-image: url(../img/paisaje3.jpg);
}
.foto4 {
    background-image: url(../img/paisaje4.jpg);
}
@media (min-width: 768px) {
    #galeria {
        display: grid;
        grid-template-areas: 
        "foto1 foto2"
        "foto3 foto4";
        gap: 5px;
    }
    .foto1, .foto2, .foto3, .foto4 {
        max-width: 100%;
        width: 45vw;
        height: 300px;
    }
    .foto1 {
        grid-area: foto1;
    }
    .foto2 {
        grid-area: foto2;
    }
    .foto3 {
        grid-area: foto3;
    }
    .foto4 {
        grid-area: foto4;
    }
}
@media (min-width: 1200px) {
    #galeria {
        display: grid;
        grid-template-areas: 
        "foto1 foto1 foto1"
        "foto1 foto1 foto1"
        "foto2 foto3 foto4"
        "foto2 foto3 foto4";
        gap: 10px;
    }
    .foto1, .foto2, .foto3, .foto4 {
        max-width: 100%;
        height: 300px;
    }
    .foto1 {
        grid-area: foto1;
        width: 100%;
        height: 728px;
    }
    .foto2 {
        grid-area: foto2;
        width: 28vw;
        height: 50vh;
    }
    .foto3 {
        grid-area: foto3;
        width: 28vw;
        height: 50vh;
    }
    .foto4 {
        grid-area: foto4;
        width: 28vw;
        height: 50vh;
    }
}