/* MEDIA */
#carrusel {
background-image: url(../img/gradiente.svg);
background-size: cover;
}
.carousel {
    width: 95vw;
}
.videos-skyrim {
    background-image: url(../img/gradiente.svg);
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-column-center;
    gap: 30px;
    padding: 30px 0;
    .trailer {
        @include flex-column-center;
        gap: 30px;
        iframe {
            width: 95vw;
            height: 40vh;
            box-shadow: 14px 14px 18px 8px rgba(0,0,0,0.47);
        }
    }
    .gameplay {
        @include flex-column-center;
        gap: 30px;
        iframe {
            width: 95vw;
            height: 40vh;
            box-shadow: 14px 14px 18px 8px rgba(0,0,0,0.47);
        }
    }
}
@media (min-width: 630px) {
    h2 {
        font-size: $size-h1 - .5rem;
    }
    .carousel {
        width: 90vw;
    }
    .videos-skyrim {
        .trailer {
            iframe {
                width: 90vw;
                height: 50vh;
            }
        }
        .gameplay{
            iframe {
                width: 90vw;
                height: 50vh;
            }
        }
    }
}
@media (min-width: 1024px) {
    h2 {
        font-size: $size-h1;
    }
    .videos-skyrim {
        display: flex;
        flex-direction: row;
        gap: 20px;
        .trailer {
            iframe {
                width: 55vw;
                height: 40vh;
            }
        }
        .gameplay {
            iframe {
                width: 40vw;
                height: 35vh;
            }
        }
    }
}
@media (min-width: 1200px) {
    .carousel {
        width: 75vw;
    }
    .videos-skyrim {
        gap: 70px;
        .trailer {
            iframe {
                width: 50vw;
                height: 60vh;
            }
        }
        .gameplay {
            iframe {
                width: 40vw;
                height: 45vh;
            }
        }
    }
}