/* BARRA DE NAVEGACION */
header {
    background-color: $color-primario;
}
.logo {
    width: 250px;
    padding: 20px;
}
.nav-link {
    font-family: $fuente-secundaria;
    color: $color-text;
    border-left: ridge 3px $color-text;
    padding-left: 10px;
    margin-right: 20px;
    letter-spacing: -1px;
    font-size: 1.1rem;
}
.navbar-toggler, .active {
    background-color: $color-text;
}