/* VARIABLES GENERALES */
$color-primario: #222222;
$color-secundario: #353531;
$color-terciario: #71486d;
$color-text: #c0c0c0;
$fuente-principal: 'balgruf';
$fuente-secundaria: 'trajanusXI';
$fuente-parrafo: 'EB Garamond', serif;
@font-face {
    font-family: 'trajanusXI';
    src: url(../fonts/TrajanusBriX-Invers.ttf);
}
@font-face {
    font-family: 'balgruf';
    src: url(../fonts/Balgruf-JRye7.ttf);
}
$size-h1: 4rem;
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}